#include "/home/nick/.xrdb/solarized.xrdb"

URxvt.depth: 32
URxvt.scrollStyle: plain
URxvt.vt100*geometry: 80x50
URxvt.url-launcher:      /usr/bin/chromium
URxvt.matcher.button:   1
URxvt.charClass: 33:48,35:48,37:48,43:48,45-47:48,64:48,95:48,126:48
URxvt.perl-ext-common:  default,matcher,vtwheel,clipboard
URxvt.font: xft:Terminess\ Powerline:size=8
URxvt.italicFont: xft:Terminess\ Powerline:size=8
URxvt.geometry: 80x25
URxvt.scrollBar:        false
URxvt.scrollBar_right:        true
URxvt.iconFile: /usr/share/icons/Faenza/apps/scalable/Terminal.svg
URxvt.cursorColor: #1AAA13
URxvt.keysym.C-C: perl:clipboard:copy
URxvt.keysym.C-V: perl:clipboard:paste
URxvt.keysym.C-A-V: perl:clipboard:paste_escaped
URxvt.iso14755 : false

Xcursor.theme: Human
