#include "/home/nick/.xrdb/molokai.xrdb"

URxvt.depth: 32
URxvt.scrollStyle: plain
URxvt.vt100*geometry: 80x50
URxvt.url-launcher:      /usr/bin/firefox-nightly
URxvt.matcher.button:   1
URxvt.charClass: 33:48,35:48,37:48,43:48,45-47:48,64:48,95:48,126:48
URxvt.perl-ext-common:  default,matcher,vtwheel,clipboard
URxvt.font: xft:Consolas\ for\ Powerline:size=9
URxvt.italicFont: xft:Consolas\ for\ Powerline\ Italic:size=9
URxvt.geometry: 80x25
URxvt.letterSpace: -1
URxvt.scrollBar:        false
URxvt.scrollBar_right:        true
URxvt.iconFile: /usr/share/icons/Faenza/apps/scalable/Terminal.svg
URxvt.keysym.C-C: perl:clipboard:copy
URxvt.keysym.C-V: perl:clipboard:paste
URxvt.keysym.C-A-V: perl:clipboard:paste_escaped
URxvt.iso14755 : false
*TkTheme: clam
